/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-color: #FFC2E6;
  --color-base: #353430;
  --accent-color: #FF0070;
  --font-header-color: #353430;
  --font-item-subtitle-color: #353430;
  --font-item-text-color: #353430;
  --font-background-color: #FF8DCB;
  --link-effect-color: #FF8DCB;
  --light-visability: hidden;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --shadow-color: #FF8DCB;
}
