/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--padding-page);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: 
    'grid-menu'
    'grid-phrase'
    'grid-title';
}

.header__title {
  display: inline-block;
  color: var(--font-header-color, black);
  grid-area: grid-title;
  align-self: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-area: grid-menu;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-family: 'IBM Plex mono', monospace;
  color: var(--font-button-color, black);
  text-transform: lowercase;
  margin: 0;
  padding: 0 14px 3px 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.main {
  padding: var(--margin-section-top-bottom) var(--margin-section-left-right);
}

.content:not(:last-child) {
  padding-block-end: var(--content-padding);
}

.content__title {
  padding-block-end: var(--content-title-padding);
  color: var(--title-color);
}

.content__title-correction-padding {
  padding-block-end: calc(var(--content-title-padding) - 2px);
}

.content__item-article-title {
  color: var(--item-article-title);
}

.content__item-article-without-text {
  margin-block-end: 20px;
}

.content__item-text {
  padding-block-start: 10px;
  color: var(--font-item-text-color);
}

.decorated-title-background {
  background-color: var(--font-background-color, red);
}

.content__item:not(:last-child) {
  padding-block-end: 20px;
}

.title-gallery {
  padding-block-end: 0;
}

.image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.decorated-phrase {
  /*Изначально была переменная, которая считалась по clamp. В clamp использовал уравнение линейной регрессии зависимости значения только от размера экрана*/
  font-size: clamp(116px, 0.0102 * 100vw + 112.18px, 120px);
  font-family: var(--font-family, monospace);
  font-weight: bold;
  color: var(--font-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  grid-area: grid-phrase;
  line-height: var(--line-height);
}

.gallery {
  padding-block-start: var(--gallery-padding);
  display: flex;
  flex-direction: column;
  gap: var(--gap-picture);
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  padding: var(--padding-page) 0;
  align-items: center;
  justify-content: center;
}

.footer .decorated-phrase {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-style: solid solid none none;
  border-color: var(--color-base);
  border-width: 1px;
  top: var(--padding-page);
  left: calc(100% - 25px - var(--padding-page));
}

.decorated-zone::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-style: none none solid solid;
  border-color: var(--color-base);
  border-width: 1px;
  left: var(--padding-page);
  top: calc(100% - 25px - var(--padding-page));
}

.light {
  position: absolute;
  color: var(--color-base);
  top: var(--padding-page);
  left: calc(100% - 60px - var(--padding-page));
  margin-block-start: 2px;
  visibility: var( --light-visability);
}

.light::before {
  content:'';
  position: absolute;
  block-size: 8px;
  inline-size: 8px;
  background-color: var(--color-base);
  border-radius: 50%;
  top: 7px;
  left: calc(100% + 14px);
  box-shadow: 0 0 4px 4px var(--color-base);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: var(--font-button-color) solid 1px;
}

.link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-effect-color);
}

.header__theme-menu-button:hover {
  outline: var(--color-with-opacity) solid 1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button:focus-visible::before {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--font-button-color);
  inset-block-end: 0;
  inset-inline-start: 0;
}

.link:focus-visible {
  text-decoration: none;
  outline: var(--font-item-text-color) solid 1px;;
}

.link:hover::before {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--font-item-text-color);
  z-index: -1;
  inset-block-end: 0;
}

@media (width >= 768px) {
  :root {
    --margin-section-top-bottom: 60px;
    --content-padding: 80px;
    --gallery-padding: 20px;
    --line-height: 99px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
      'grid-menu grid-menu'
      'grid-phrase grid-phrase'
      '. grid-title';
  }

  .decorated-phrase {
    font-size: clamp(120px, 0.1445 * 100vw + 9px, 157px);
  }

  .header .decorated-phrase {
    margin-inline-start: -20px;
  }

  .content:nth-child(odd):not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  
  .content__item-article-without-text {
    margin-block-end: 0;
  }

  .content__title-left-column {
    grid-row: span 2;
  }

  .content:nth-child(even):not(:last-child) .content__title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image:nth-child(1) {
    grid-column: span 2;
  }

  .image:nth-child(2) {
    grid-row: span 2;
  }

  .image:nth-child(3) {
    grid-row: span 2;
  }

  .image:nth-child(4) {
    grid-column: span 1;
  }

  .image:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --line-height: 129.53px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-area: grid-menu;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .content:nth-child(odd):not(:last-child) {
    grid-template-columns: calc(100% / 3 - 40px / 3) 2fr;
  }

  .content:nth-child(even):not(:last-child) .content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
}