/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-page: clamp(10px, 0.0254 * 100vw + 0.458px, 20px);
  /*--font-size: clamp(116px, 0.0102 * 100vw + 112.18px, 120px);*/
  --line-height: 95.7px;
  --font-family: 'IBM Plex mono';
  --margin-section-top-bottom: 40px;
  --margin-section-left-right: var(--padding-page);
  --content-padding: 50px;
  --content-title-padding: 20px;
  --gallery-padding: 10px;
  --gap-picture: 10px;

  --font-color: #FFC2E6;
  --color-base: #353430;
  --accent-color: #FF0070;
  --font-header-color: #353430;
  --font-item-subtitle-color: #353430;
  --font-item-text-color: #353430;
  --font-background-color: #FF8DCB;
  --shadow-color: #FF8DCB;
  --link-effect-color: #FF8DCB;
  --light-visability: hidden;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-color: #353430;
  --item-article-title: #353430;
  --color-with-opacity: #32312D66;
  --font-button-color:#353430;
}