/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-page: clamp(10px, 0.0254 * 100vw + 0.458px, 20px);
  --font-size: 116px;
  --line-height: 95.7px;
  --background-image: url("../images/cover-image-light.png");
  --font-color: #FFC2E6;
  --color-base: #353430;
  --accent-color: #FF0070;
  --font-header-color: #353430;
  --font-item-subtitle-color: #353430;
  --font-item-text-color: #353430;
  --font-background-color: #FF8DCB;
  --link-effect-color: #FF8DCB;
  --light-visability: hidden;
  --font-family: 'IBM Plex mono';
  --margin-item-subtitle: 10px;
  --margin: 20px;
  --margin-text: 20px;
  --margin-article-top:40px;
  --margin-article-bottom: 0;
  --gap-picture: 10px;
  --margin-correction: -2px;
  --margin-gallery: 40px;
  --padding-last-text: 10px;
}